<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <body>
        {%if not isElectionOpen()%}
            <form action=/submit method="post" id="form1" enctype=multipart/form-data>
                <div class="loginbox" style="width:40%">
                  <select name=category class="textbox" required>
                      <option value="" disabled selected>Category</option>
                      {%for i in cat%}
                          <option value="{{i}}">{{i}}</option>
                      {%endfor%}
                  </select>
                  <input type='text' name='candidateName' placeholder='Candidate name' class='textbox' required>
                  <input type="file" name='myFile' class='textbox' required>
                  <button type='submit' class='btn' style="color:black;width:50%">Add</button>
                </div>
            </form><br><br><br>
        {%endif%}
        <table style="width:50%">
            <th class='heading'>
                
            </th>
            <th class='heading'>
                Candidate Name
            </th>
            <th class='heading'>
                Category
            </th>
            <th>
            </th>
            {%for cand in data%}
            <tr>
                <td>
                    <img src={{ url_for('static',filename='images/'+ GetPath(cand[0]) ) }} width="75" height="100">
                </td>
                <td>
                    {{cand[1]}}
                </td>
                <td>
                    {{cand[2]}}
                </td>
                <td>
                    {%if not isElectionOpen()%}
                        <form action=/delete method="post" id="form2">
                            <input type=hidden value={{cand[0]}} name=CID>
                            <button type='submit' name={{cand[0]}} style="border:0;background:none">
                                <i class='fa fa-trash'></i>
                            </button>
                        </form>
                    {%endif%}
                </td>
            </tr>
            {%endfor%}
        </table>
    </body>
</html>

