<html>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <head>

    </head>
    <body>
        <div>
          <table width="100%">
          <tr>
          <td><img src ="{{ url_for('static', filename='styles/psbb_logo.jpg') }}"></td>
          <td><h1>School Pupil Leader Election</h1></td>
          </tr>
          </table>
        </div>
        <div class="topnav">
             {%if isElectionOpen()%}
                 <a class="active" href="{{url_for('admin_openView')}}" target='iFrame_1'>View candidates</a>
                 <a href="{{url_for('close_Voting')}}">Close voting</a>
             {%else%}
                 <a class="active" href="{{url_for('admin_openView')}}" target='iFrame_1'>Edit candidates</a>
                 <a href="{{url_for('open_Voting')}}">Open voting</a>
                 <a href="{{url_for('ViewResults')}}" target='iFrame_1'>View results</a>
                 <a href="{{url_for('reset_election')}}" target='iFrame_1'>Reset</a>
             {%endif%}
             <a href="{{url_for('chngPasswd')}}" target='iFrame_1'>Change password</a>
             <a href="{{url_for('ViewCred')}}" target='iFrame_1'>View voter credentials</a>
        </div>
        <div>
        <iframe name='iFrame_1' style='width:100%;height:100%'>
        </iframe>

    </body>
</html>

