<html>
    <body>
        <form action=/submit method="post" id="form1" enctype=multipart/form-data>
            <select name=category>
                {%for i in cat%}
                    <option value="{{i}}">{{i}}</option><br>
                {%endfor%}
            </select><br><br>
            <input type='text' name='candidateName' placeholder='Candidate name'><br><br>
            <input type="file" name='myFile'> <br><br>
            <button type='submit'>Add</button>
        </form><br><br><br>
        <table style="width:50%">
            <th>
                
            </th>
            <th style="background:'#3CA9FA'">
                Candidate Name
            </th>
            <th style="background:'#3CA9FA'">
                Category
            </th>
            <th>
            </th>
            {%for cand in data%}
            <tr>
                <td>
                    <img src={{ url_for('static',filename='images/'+ GetPath(cand[1]) ) }} width="75" height="100">
                </td>
                <td>
                    {{cand[1]}}
                </td>
                <td>
                    {{cand[2]}}
                </td>
                <td>
                    <form action=/delete method="post" id="form2">
                        <input type=hidden value={{cand[0]}} name=CID>
                        <button type='submit' name={{cand[0]}}>X</button>
                    </form>
                </td>
            </tr>
            {%endfor%}
        </table>
    </body>
</html>

