<html>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <head>
        <title>Confirmation</title>
    </head>
    <body>
    <div class='login-box'>
    <form name='resetvoting' method='POST' action='/resetVoting'>
        <p style='color:black'> Once you reset voting, you will lose all data including results and candidates. Are you sure you want to continue? </p>
        <input type='password' class='textbox' name='password' placeholder='Enter admin password'></input>
        <input class="btn" type="submit" value="Reset" style='color:black'>Reset</input>
    </form>
    <div class="message">
        <p align=center color=#FF0000>
            {{Msg}}
        </p>
    </div>
    </body>
</html>

