<html lang="en">
<style>
body {
  background-image: {{ url_for('static',filename='style/bg2.jpg') }};
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style> 
<form action=exec({{ url_for('static',filename='action/vote.py') }}) method="get" id="form1">
{%for i in range(4)%}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
      Election
    </title>
    <>
  </head>
  
  <body>
    <h1 style="color:white" "font-family:verdana">
      <b> <u> {{data[i][0]}} </u> </b>
    </h1>
    <p>
      {%for j in data[i][1]%}
        
        <input type="radio" name={{data[i][0]}} value={{j}}> {{j[0]}}
      {%endfor%}
    </p>
  </body>
{%endfor%}
</form>
<button type="submit" form="form1" value="Submit">Vote</button>
</html>