<html lang="en">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<form action=/submitVote method="post" id="form1">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Election
    </title>
  </head>
<input type="hidden"  name="rlno" value={{rlno}}>
<table style="width:100%">
{%for i in cat%}
  <body>
  <tr>  
    <td>
    <h1>
      {{i}}
    </h1>
    </td>
  </tr>
  <tr>
    <p>
      
      {%for j in GetCandidateNames(i)%}
        <td>
        <img src={{ url_for('static',filename='images/'+ GetPath(j[0]) ) }} width="100" height="133.3"> <br>
        <input type="radio" name={{i}} value={{j[0]}} required><label for={{i}} style="font-size:14px"> {{j[1]}} </label>
        </td>
      {%endfor%}
    </p>
  </tr>
  </body>
{%endfor%}

</form>
</table>
<button type="submit" form="form1" value="Submit" class = "btn" style="color:black;width:20%">Vote</button>
</html>
